<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>

  <appSettings>
    <add key="LocalServer" value="localhost"/>
    <add key="RemoteServer" value="dmhgcommissioning.ccydpaosubai.us-west-2.rds.amazonaws.com"/>
    <add key="ActiveServer" value="dmhgcommissioning.ccydpaosubai.us-west-2.rds.amazonaws.com"/>
  </appSettings>

  <connectionStrings>
    <add name="userpass" connectionString="server=;userid=programAccess;password=aAWEG4TGA4Eta$yA4HA5haE5RYA??34Ta!;database=userpass" />
    <add name="sites" connectionString="server=;userid=programAccess;password=aAWEG4TGA4Eta$yA4HA5haE5RYA??34Ta!;database=sites" />
    <add name="noDB" connectionString="server=;userid=programAccess;password=aAWEG4TGA4Eta$yA4HA5haE5RYA??34Ta!;" />
    <add name="DMHG_Commissioning.My.MySettings.sitesConnectionString"
      connectionString="server=localhost;user id=programAccess;password=aAWEG4TGA4Eta$yA4HA5haE5RYA??34Ta!;persistsecurityinfo=True;database=sites"
      providerName="MySql.Data.MySqlClient" />
    <add name="DMHG_Commissioning.My.MySettings._6_dataConnectionString"
      connectionString="server=localhost;user id=root;password=bernie2006;persistsecurityinfo=True;database=6_data"
      providerName="MySql.Data.MySqlClient" />
    <add name="DMHG_Commissioning.My.MySettings.SNC_DOSConnectionString"
      connectionString="Data Source=(local)\SUNNUCLEAR;Initial Catalog=SNC_DOS;Persist Security Info=True;User ID=sa;Password=#3dbsqlSNC1!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
</configuration>
